@import url(fontiran.css);

@import url(../../admin/css/material-design-iconic-font.min.css);


body {

    font-family: IRANSansX !important;

    direction: rtl;

    margin: 0;

    max-width: 100%;

    overflow-x: hidden;

}


h1, h2, h3, h4, h5, h6, input, textarea {

    font-family: IRANSansX !important;

}


h1 {

    font-weight: bold;

}


.wrapper {

    max-width: 900px;

    margin: 0 auto;

}


.ltr {

    direction: ltr;

}


.text-right {

    text-align: right;

}


.text-center {

    text-align: center;

}


.text-left {

    text-align: left;

}


.text-small {

    font-size: 0.8em;

}


.text-xsmall {

    font-size: 0.6em;

}


.text-large {

    font-size: 1.2em;

}


.text-xlarge {

    font-size: 1.4em;

}


.text-underline {

    text-decoration: underline;

}


.text-thin {

    font-weight: 100;

}


.text-UltraLight {

    font-weight: 200;

}


.text-light {

    font-weight: 300;

}


.text-regular {

    font-weight: 400;

}


.text-medium {

    font-weight: 500;

}


.text-demibold {

    font-weight: 600;

}


.text-bold {

    font-weight: 700;

}


.text-extrabold {

    font-weight: 800;

}


.text-black {

    font-weight: 900;

}


blockquote {

    font-weight: 700;

    padding: 10px;

    border: 1px dashed #666666;

}


.mainbox {

    width: 100%;

    background-color: #EFEFEF;

    display: table;

    margin-bottom: 30px;

    border-right: 8px solid #df79ff;

}


.mainboxnegativ {

    width: 100%;

    background-color: #000000;

    display: table;

    margin-bottom: 30px;

    border-right: 8px solid #df79ff;

    color: #F9F9F9;

}


.mainbox2 {

    font-size: 1em;

    width: 90%;

    padding-right: 20px;

    padding-top: 10px;

    padding-bottom: 10px;

}


.mainboxitalic {

    font-size: 1em;

    font-style: italic;

    width: 90%;

    padding-right: 20px;

    padding-top: 10px;

    padding-bottom: 10px;

}


.mainbox3 {

    width: 100%;

    background-color: #DFDFDF;

    display: table;

    margin-bottom: 30px;

    border-right: 8px solid #FF5EAA;

}


.mainbox2negativ {

    font-size: 1em;

    color: #F9F9F9;

    background-color: #000000;

    padding-right: 20px;

}


.farsiparagraph {

    font-size: 1em;

    width: 47%;

    float: right;

    padding-right: 20px;

    padding-top: 10px;

    padding-bottom: 10px;


}


.farsiparagraph_negativ {

    font-size: 1em;

    color: #F9F9F9;

    background-color: #000000;

    width: 47%;

    float: right;

    padding-right: 20px;

    padding-top: 10px;

    padding-bottom: 10px;


}


.englishparagraph {

    font-size: 1em;

    width: 47%;

    float: left;

    direction: ltr;

    padding-left: 20px;

    padding-top: 10px;

    padding-bottom: 10px;


}


.englishparagraph_negativ {

    font-size: 1em;

    color: #F9F9F9;

    background-color: #000000;

    width: 47%;

    float: left;

    direction: ltr;

    padding-left: 20px;

    padding-top: 10px;

    padding-bottom: 10px;


}


.rightbox {

    width: 60%;

    padding-right: 20px;

    padding-left: 5px;

    float: right;

    margin-left: 10px;

    margin-bottom: 0px;

    min-width: 0px;

    background-color: #F7F7F7;


}


.titelbox {

    width: 60%;

    padding-right: 25px;

    padding-left: 0px;

    float: right;

    margin-left: 10px;

    margin-bottom: 0px;

    min-width: 0px;

    background-color: #d5d5d5;

    color: #4B4B4B;

}


.lefttbox {


    padding-right: 20px;

    padding-left: 4px;

    float: right;

    margin-bottom: 10px;

    min-width: 0px;

}


.alphabet {

    width: 35%;

    float: left;

    font-size: 20em;

    text-align: center;

    font-weight: 700;

    color: #999999;

}


.alphabet2 {

    width: 35%;

    float: left;

    direction: ltr;

    font-size: 1.6em;

    text-align: left;

    font-weight: 400;

    color: #333333;

    margin-top: 100px;

}


.footer {

    font-weight: 400;

    font-size: 0.7em;

    text-align: center;

    direction: ltr;

    margin-bottom: 0px;

    padding-bottom: 0px;

}


.nav-link:focus, .nav-link:hover {

    color: #ec661a;

}


.nav-link {

    color: #fff;

}


#header-bg {

    z-index: -1;

}


.bg-rotated-div {

    transform: rotate(15deg);

    margin-right: -20%;

    margin-left: -20%;

}


.first-bg {

    height: 200px;

}


.second-bg {

    height: 10px;

}


.third-bg {

    height: 80px;

}


.fourth-bg {

    height: 300px;

}


.bg-white {

    background-color: #fff;

}


.bg-purple {

    background-color: #342588;

}
.bg-purple-50{
    background-color: rgba(52, 37, 136, 0.5);
}


.bg-orange {

    background-color: #FEC28F;

}


.parent-bg-rotated {

    margin-top: -250px;

    z-index: -1;

}


@media screen and (max-width: 992px) {

    .parent-bg-rotated {

        margin-top: -130px;

    }

}


@media screen and (max-width: 600px) {

    .parent-bg-rotated {

        margin-top: -55px;

    }

}


#topNav {
    background-color: #342588;
}


.logo img {

    max-width: 70%;

}


.main-footer {

    min-height: 200px;

}


.main-footer a {

    text-decoration: none;

    color: #fff;

}


.main-footer a:hover {

    color: #ec661a;

}


.footer-bg {

    height: 400px;

    background-color: #342588;

    transform: rotate(10deg);

    position: absolute;

    bottom: -270px;

    right: 0;

    left: -60px;

    z-index: -1;

}


.main-content {

    background: url("../img/bg_dot_dash.jpg") no-repeat left;

    background-size: cover;

}


.user-base-info {

    position: relative;

    display: flex;

    align-items: end;

}


.user-profile-avatar img {
    max-width: 80px;
    border-radius: 100%;
    border: 2px solid #707070;
    z-index: 1;
    position: relative;
}


.user-profile-name {

    position: absolute;

    border: 2px solid #342588;

    border-top-right-radius: 30px;

    border-bottom-right-radius: 30px;

    padding: 0 50px 0 10px;

    margin-right: 30px;

    transform: skewX(-20deg);

    bottom: 0;

}


.user-profile-name h4 {

    width: 100%;

    transform: skewX(20deg);

    margin-bottom: unset;

    font-size: 1.3em;

}


.profile-menu-item {

    border: 2px solid #342588;

    display: block;

    width: max-content;

    text-decoration: none;

    transform: skewX(-20deg);

    margin-top: 10px;

    padding: 0 20px;

    border-top-right-radius: 40px;

    border-bottom-right-radius: 20px;

}


.profile-menu-item i {

    transform: skewX(20deg);

    display: block;

    color: black;

}


.profile-menu-child {

    margin-right: 40px;

}


.ability {

    background-color: white;

    height: 300px;

    width: 300px;

    border: 10px solid white;

    border-radius: 100%;

    box-shadow: inset 0 0 10px -4px #000;

    padding: 5px;

    text-align: center;

    display: flex;

    align-items: center;

}


.ability h2 {

    width: 100%;

}


.abilities {

    margin-top: -500px;

    min-height: 450px;

}

/*

.abilities > div:nth-child(odd) {

    margin-top: -150px;

}*/


.white-space {

    height: 150px;

}


.post-items {

    min-height: 800px;

}


.post-item {

    border: 15px solid #FEC28F;

    background-color: #fff;

    border-radius: 40px;

    padding: 20px 5px 10px;

    width: 100%;

    text-decoration: none;

    color: inherit;

}

.post-thumb img {

    height: 350px;

    object-fit: cover;

    min-width: 100%;

    padding: 10px;

    border-radius: 30px;

}

.post-title h2 {

    padding: 20px 15px 0;

    font-size: 1.5rem;

}

.customer-comments {

    border: 2px solid #342588;

    width: max-content;

    transform: skewX(20deg);

    margin: 0 0 0 -30px;

    padding: 5px 40px 5px 60px;

    border-top-left-radius: 40px;

    border-bottom-left-radius: 20px;

}

.customer-comments h3 {

    transform: skewX(-20deg);

}

/*new*/

.Specifications {

    border: 8px solid bisque;

    border-radius: 20px;

    background-color: white;

}

.form-sep {

    background-color: antiquewhite;

    border-radius: 25px;

    border: none;

}

.form-sep1 {

    background-color: antiquewhite;

    border-radius: 25px;

    border: none;

    height: 200px;

}

.submit-button2 {

    background-color: antiquewhite;

}

/********************************/
/*** CUSTOM FILE INPUT STYE ***/
.wrap-custom-file {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 0 0.5rem 1rem;
    text-align: center;
}

.wrap-custom-file input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    opacity: 0;
}

.wrap-custom-file label {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    padding: 0 0.5rem;
    cursor: pointer;
    background-color: antiquewhite;
    border-radius: 4px;
    transition: transform 0.4s;
}

.wrap-custom-file label span {
    display: block;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #777;
    transition: color 0.4s;
}

.wrap-custom-file label .fa {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translatex(-50%);
    font-size: 1.5rem;
    color: lightcoral;
    transition: color 0.4s;
}

.wrap-custom-file label:hover {
    transform: translateY(-1rem);
}

.wrap-custom-file label:hover span, .wrap-custom-file label:hover .fa {
    color: #333;
}

.wrap-custom-file label.file-ok {
    background-size: cover;
    background-position: center;
}

.wrap-custom-file label.file-ok span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.1rem;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}

.wrap-custom-file label.file-ok .fa {
    display: none;
}

.select2-container--default .select2-selection--single {
    background-color: antiquewhite;
    border: unset;
    border-radius: 10px;
}

.select2-container {
    width: 100% !important;
}

.select-box {
    border: none;
    padding: 0px;
}

.form-exp {
    height: 150px;
}

.main-table {
    background-color: white;
    border: 1px solid darkgray;
}

.table-responsive thead {
    background-color: #342588;
    color: white;
}

.btn-1 {
    background-color: #342588;
    color: white;
}

.btn-1 a:hover {
    color: white;
}
.shop-item .price{
font-weight: bold;
    margin-left: 8px;
}
.shop-item .currency{
    font-size: 12px;
}
.shop-item .card{
    border: 1px solid rgba(52, 37, 136, 0.125);
    border-radius: 30px;
    height: 100%;
}

.shop-item .card-img-top {
    border-top-right-radius: calc(30px - 1px);
    border-top-left-radius: calc(30px - 1px);
}

.shop-item .card > .list-group {
    border-top: unset;
    border-bottom: unset;
    height: inherit;
}
.shop-item .card > .list-group:last-child{
    border-bottom-left-radius: calc(30px - 1px);
    border-bottom-right-radius: calc(30px - 1px);
}
.shop-item .list-group-item{
    background-color: unset;
}
.shop-item .card-body,
.shop-item .list-group,
.product .product-title{
    background-color: #342588;
}
.shop-item .bg-orange{
    background-color: #FEC28F;
}
.shop-pagination .page-link{
    border: unset;
    border-radius: 8px !important;
}
.sorting .btn-light.active{
    background-color: #f6a55f;
    color: white;
}

.product .product-thumbnail{
    height: 400px;
    object-fit: cover;
}
.product .product-title,
.product .product-header{
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.product .price .val{
    color: var(--bs-purple);
}
.product .excerpt{
    border-radius: 30px;
    height: 100%;
}
.product .description{
    border-radius: 30px;
}
.product .related-product{
    border: 2px solid var(--bs-purple);
    border-radius: 30px;
    box-shadow: 1px 1px 1px #ccc;
    max-width: max-content;
}
#comment-form textarea{
    height: 200px;
}

.nav-link.separator {
    padding: unset;
}

.nav-toggle {
    width: 55px;
    height: 55px;
    color: #fff;
    margin-right: 10px;
    border-radius: 18px;
    background: linear-gradient(145deg, #2f217a, #382892);
    box-shadow:  7px 7px 24px #23195b,
    -7px -7px 24px #4531b5;
}

.mobile-logo{
    height: 70px;
}

#menu {
    background: #342588;
    position: fixed;
    top: 86px;
    left: 0;
    bottom: 0;
    width: 70% !important;
    height: 100% !important;
    right: -100%;
    transition: right 500ms ease-in-out;
}
#menu.active{
right: 0;
}

.customer-profile-avatar .main-img{
    width: 80px;
}
#menu .nav-item{
    margin-right: 20px;
}
